APScheduler==3.10.4
alembic==1.13.2
aiogram==3.13.0
annotated-types==0.7.0
attrs==24.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
greenlet==3.0.3
h11==0.14.0
idna==3.8
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
outcome==1.3.0.post0
psycopg==3.2.1
psycopg-binary==3.2.1
pydantic==2.8.2
pydantic_core==2.20.1
python-dotenv==1.0.1
PySocks==1.7.1
PyYAML==6.0.2
requests==2.32.3
selenium==4.24.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.32
typing_extensions==4.12.2
trio==0.26.2
trio-websocket==0.11.1
undetected-chromedriver==3.5.5
urllib3==2.2.2
websocket-client==1.8.0
websockets==13.0
wsproto==1.2.0
